* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: rgba(243, 229, 216);
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  margin-top: 70px;
  background: hsl(0, 0%, 100%);
  width: 40%;
  height: auto;
  padding: 30px;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.introduction h1 {
  margin: 20px auto;
  color: hsl(24, 5%, 18%);
}

.introduction p {
  color: hsl(30, 10%, 34%);
}

.time {
  background: #fff7fc;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  padding: 15px 30px;
}
.time h3{
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}
.time ul {
  width: 100%;
}
.time ul li {
  list-style: none;
  margin: 10px auto;
  color: hsl(30, 10%, 34%);
  display: flex;
  align-items: center;
}

.time ul li span{
    color: hsl(24, 5%, 18%);
    font-weight: 700;
    margin-right: 2px;
}

.time ul li i{
    margin-right: 20px;
    font-size: 20px;
}